html{
    p{
        margin: 0;
    }
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

$textColor:#212121;

.main{
    background-color: rgb(245, 235, 235);
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .left_container{
            width: 67%;

            .address{
                background-color: #fafafa;
                
                .address-tittle{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 12px;
                    
                    
                    span{
                        font-size: 14px;
                        line-height: 40px;
                        color: $textColor;
                        font-weight: 400;
                        padding-top: 0;
                        margin-bottom: 0;
                        display: block;
                    }
                    a{
                        font-size: 14px;
                        cursor: pointer;
                        color: #1a9cb7;
                        line-height: 40px;
                        margin-right: 12px;
                        text-decoration: none;
                    }
                }

                .address-inner{
                    position: relative;
                    margin-bottom: 12px;
                    font-size: 14px;
                    color: $textColor;
                    letter-spacing: 0;
                    padding: 12px;
                    
                    .address-inner-container{
                        margin-bottom: 12px;
                        span{
                            line-height: 16px;
                            margin-right: 18px;
                            display: inline-block;
                        }
                    }
                    .address-inner-info{
                        letter-spacing: 0;
                        line-height: 21px;
                    }
                }

            }

            .package{
                padding-left: 12px;
                background-color: #fafafa;
                .package-box{
                    margin-top: 12px;
                    display: flex;
                    justify-content: space-between;
                    height: 40px;
                    line-height: 40px;
                    
                    .left{
                        font-size: 14px;
                        color: $textColor;
                        font-weight: bold;
                    }
                    .right{
                        padding-right: 10px;
                        .active{
                            font-size: 12px;
                            color: #757575;
                        }
                        span{
                            color: #202020;
                            font-weight: 600;
                            font-size: 12px;
                            margin-left: 5px;
                            display: inline-block;
                        }
                    }
                }
                .delyvery{
                    .title-slide{
                        span{
                            font-size: 12px;
                            line-height: 16px;
                            color: #212121;
                            padding-top: 12px;
                            padding-bottom: 8px;
                            display: block;
                        }
                    }

                    .delyvery-items{
                        margin-top: 8px;
                        
                        .delyvery-items-menu{
                            border: 1px solid #0094b6;
                            overflow: hidden;
                            border-radius: 5px;
                            background-color: #f8f8f8;
                            display: inline-block;
                            min-width: 240px;
                            cursor: pointer;

                            .items-top{
                                display: inline-block;
                                padding: 0 10px;

                                .items-line{
                                    margin-top: 12px;

                                    span{
                                        font-size: 14px;
                                        color: #202020;
                                        &:last-child{
                                            margin: 0 0 6px 8px;
                                            
                                        }
                                        i{
                                            color: rgb(0,148,182);
                                            font-size: 18px;
                                        }
                                    }
                                }
                                .items-name{
                                    margin: 8px 0 0 29px;
                                    font-size: 12px;
                                    color: $textColor;
                                }
                            }
                            .items-bottom{
                                margin-top: 5px;
                                padding: 0 10px;
                                height: 33px;
                                span{
                                    font-size: 12px;
                                    color: $textColor;
                                    margin-left: 29px;
                                }
                            }
                        }
                    }
                }
                .cart_items{
                    .cart_items-inner{
                        display: flex;
                        justify-content: space-between;
                        padding: 16px 0;

                        .cart_items-left{
                            display: flex;
                            .img{
                                margin-right: 12px;
                            
                                img{
                                    width: 80px;
                                    height: 80px;
                                }
                            }
                            .content{
                                display: flex;
                                flex-direction: column;
                                color: #757575;
                                font-size: 12px;
                                a{
                                    text-decoration: none;
                                    width: 100%;
                                    // max-height: 32px;
                                    padding-left: 0;
                                    font-size: 14px;
                                    color: #212121;

                                    display: block;
                                    line-height: 16px;

                                    display: block;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;  
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    &:last-child{
                                        margin-top: 6px;
                                        color: #757575;
                                    }
                                }
                                
                            }

                        }
                        .cart_items-midde{
                            .current-price{
                                font-size: 18px;
                                margin-bottom: 4px;
                                color: #f89d24;
                                    
                            }
                            .origin-price{
                                font-size: 14px;
                                color: #757575;
                                text-decoration: line-through;
                                margin-bottom: 8px;

                            }
                            .promotion-ratio{
                                font-size: 14px;
                                color: #212121;
                            }
                        }
                        .cart_items-right{
                            height: 100%;
                            span{
                                color: #757575;
                                font-size: 14px;
                                
                                &:last-child{
                                    font-size: 16px;
                                    color: #202020;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // right container
        .right_Container{
            width: 32%;
            background-color: #fafafa;
            .clearfix{  
                padding: 12px 12px 0;
                .claerfix_btn{
                    color: rgb(255, 255, 255);
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    
                    background-color: rgb(245, 114, 36);
                    position: relative;
                    display: inline-block;
                    font-style: normal;
                    font-family: inherit;
                    cursor: pointer;
                    transition: all 0.3s ease-out 0s;
                    box-shadow: none;
                    border-radius: 2px;
                    text-align: center;
                }
            }

            .payment-cart{
                background: #fff;
                padding: 16px 14px;
                //
                .payment-cart-head{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 14px;
                    .payment-title{
                        font-size: 18px;
                        color: #212121;
                        
                    }
                    .payment-action{
                        font-size: 14px;
                        color: #189cb7;
                        cursor: pointer;
                        i{
                            font-size: 12px;
                        }
                    }
                }
                //
                .cart-list-wrapper{
                    .cart-list-selecter{
                        border: 1px solid #0b99b9;
                        -webkit-box-shadow: 0 0 4px 0 #d2ffff;
                        box-shadow: 0 0 4px 0 #d2ffff;
                        border-radius: 4px;
                        margin-bottom: 10px;
                        position: relative;
                        cursor: pointer;

                        .cart-list-top{
                            padding: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .cart-list-mn{
                                display: flex;
                                align-items: center;
                                img{
                                    height: 28px;
                                    margin-right: 8px;
    
                                }
                                .content-cart{
                                    span{
                                        height: 16px;
                                        font-size: 14px;
                                        color: #333;
                                        
                                       
                                    }
                                }
                            }
                            
                            .icon-check{
                                span{
                                    color: #0094b6;
                                    font-size: 18px;
                                }
                            }
                        }
                        .cart-list-bottom{
                            padding: 6px 12px;
                            span{
                                font-size: 12px;
                                color: #757575;
                            }
                        }

                    }
                    //selecter2
                    .cart-list-selecter2{
                        -webkit-box-shadow: 0 0 4px 0 #d2ffff;
                        box-shadow: 0 0 4px 0 #d2ffff;
                        border: 1px solid #dadada;
                        border-radius: 4px;
                        margin-bottom: 10px;
                        position: relative;
                        cursor: pointer;

                        .cart-list-top{
                            padding: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .cart-list-mn{
                                display: flex;
                                align-items: center;
                                img{
                                    height: 28px;
                                    margin-right: 8px;
    
                                }
                                .content-cart{
                                    span{
                                        height: 16px;
                                        font-size: 14px;
                                        color: #333;
                                    }
                                }
                            }
                            
                            .icon-check{
                                lable{
                                    font-size: 18px;
                                }
                            }
                        }
                        .cart-list-bottom{
                            padding: 6px 12px;
                            border-top: 1px solid #dadada;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .list-bottom-left{
                                font-size: 12px;
                                color: #757575;
                            }
                            .list-bottom-right{
                                img{
                                    height: 20px;
                                }
                            }
                        }

                    }
                }
            }

            .voucher-input{
                margin: 0!important;
                padding: 8px 14px;
                background: #fff;

                p{
                    font-size: 18px;
                    color: #212121;
                    margin-bottom: 14px;
                }
                .voucher-input-inner{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4px;
                    .input_search{
                        padding-right: 8px;
                        .inputadd{
                            height: 38px;
                            line-height: 38px;
                            margin: 0;
                            padding: 0 8px;
                            font-size: 14px;
                            font-weight: 400;
                            outline: none;
                            vertical-align: baseline;
                            border: 1px solid #0b99b9;;
                        }
                    }
                    .input_btn{
                        .btn-search{
                            border: none;
                            height: auto;
                            line-height: 40px;
                            width: 104px;
                            display: block;
                            background-color: #1a9cb7;
                            color: #fff;
                            font-size: 14px;
                            text-transform: uppercase;
                            padding: 0;
                            &:hover{
                                opacity: 0.8;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .info-wrapper{
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 16px 14px;
                background: #fff;
                
                p{
                    font-size: 18px;
                    color: #212121;
                    &:last-child{
                        font-size: 14px;
                        color: #189cb7;
                        cursor: pointer;
                    }
                }
            }
            .summary-section{
                padding: 16px 12px 0;
                background: #fff;
                .summary-section-heading{
                    font-size: 18px;
                    color: #212121;
                    margin-bottom: 16px;
                }
                .summary-section-row{
                    .summary-section-top{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 16px;
                        span{
                            font-size: 14px;
                            color: #757575;
                            &:last-child{
                                font-size: 16px;
                                color: #202020;
                            }
                        }
                    }
                    .summary-section-bottom{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 16px;
                        span{
                            font-size: 14px;
                            color: #757575;
                            &:last-child{
                                font-size: 16px;
                                color: #202020;
                            }
                        }
                    }
                }
            }
            .order-total{
                padding: 14px;
                background: #fff;
                margin-top: 0;
                .order-total-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        font-size: 14px;
                        color: #202020;
                        &:last-child{
                            font-size: 18px;
                            color: #f52477;
                        }
                    }
                }
                .clearfix{
                    padding: 12px 0;
                    .claerfix_btn{
                        color: rgb(255, 255, 255);
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        font-size: 14px;
                        
                        background-color: rgb(245, 114, 36);
                        position: relative;
                        display: inline-block;
                        font-style: normal;
                        font-family: inherit;
                        cursor: pointer;
                        transition: all 0.3s ease-out 0s;
                        box-shadow: none;
                        border-radius: 2px;
                        text-align: center;
                    }
                }
            }
        }

    }
}